@use "../settings/variables";

.g-teachers {
  --teachers-background-color: #{variables.$background-lighter-color};

  @media (prefers-color-scheme: dark) {
    --teachers-background-color: #{variables.$background-darker-color};
  }

  background: var(--teachers-background-color);

  &__collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__avatar {
    overflow: hidden;
    max-width: 15rem;
    margin: 1rem;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
