@use "../settings/variables";

@mixin light-theme {
  --background-color: #{variables.$background-lightest-color};
  --background-closer-color: #{variables.$background-light-color};
  --text-color: #{variables.$text-color};
  --text-muted-color: #{variables.$text-muted-color};
  --brand-text-color: #{variables.$brand-text-color};
  --border-color: #{variables.$border-inverted-color};
}

@mixin dark-theme {
  --background-color: #{variables.$background-darker-color};
  --background-closer-color: #{variables.$background-dark-color};
  --text-color: #{variables.$text-inverted-color};
  --text-muted-color: #{variables.$text-inverted-muted-color};
  --brand-text-color: #{variables.$brand-text-inverted-color};
  --border-color: #{variables.$border-color};
}

:root {
  @include light-theme;

  &.dark-theme {
    @include dark-theme;
  }

  @media (prefers-color-scheme: dark) {
    @include dark-theme;

    &.light-theme {
      @include light-theme;
    }
  }
}
