@use "../settings/variables";
@use "../tools/functions";

.g-courses {
  --courses-background-color:
    #{functions.light-dark(
      variables.$background-lighter-color,
      variables.$background-darker-color
    )};
  --courses-border-color:
    #{functions.light-dark(
      variables.$border-inverted-color,
      variables.$border-color
    )};

  border-bottom: 1px solid var(--courses-border-color);
  background: var(--courses-background-color);

  &__filters {
    margin-bottom: 3rem;
  }

  &__grid {
    column-width: 18rem;
    gap: 1.87rem;
  }

  &__item {
    margin-bottom: 1.87rem;
    break-inside: avoid;
  }
}
